.todoItem {
  display: flex;
  align-items: baseline ;
  min-height: 2em;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}



.spaceItemContent {
  flex-grow: 4 !important;
}
